@import '../setup.scss';

.About{
    max-width: 1000px;
    margin: auto;
    height: auto;
    p{
        font-family: $roboto;
    }
    .with-photo{
        display: grid;
        grid-template-columns: 1fr 3fr;
        img{
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
    }
    .timeline{
        padding-bottom: 30px;
        .timelineitem{
            display: grid;
            width: 100%;
            grid-template-columns: calc(50% - 36px) 32px calc(50%);
            gap: 10px;
            height: 200px;
            align-items: center;
            .bar{
                justify-self: center;
                position: relative;
                z-index: 1;
                .circle{
                    
                    width: 64px;
                    height: 64px;
                    border-radius: 100%;
                    position: absolute;
                    margin: 0;
                    left: -27px;
                    top: calc(50% - 32px);
                }
                .line{
                    background-color: $lightGreen;
                    width: 10px;
                    height: 200px;
                }
            }
            h3{
                font-family: $bebas;
                font-size: 28px;
                margin: 0;
                text-align: center;
            }
            h4{
                font-family: $croboto;
                font-size: 21px;
                margin: 0;
                text-align: center;
            }
        }
    }
}

.About.dark{
    h1, h2{
        color: $lightGreen;
    }
    p{
        color: white;
    }
    .timeline{
        .timelineitem{
            .bar{
                .circle{
                    background-image: linear-gradient($lightGreen, $darkGreen);
                }
            }
            h3, h4{
                color: white;
                font-weight: 400;
            }
        }
    }
}

.About.light{
    h1, h2{
        color: $lightBlue;
    }
    p{
        color: black;
    }
    .timeline{
        .timelineitem{
            .bar{
                .circle{
                    background-image: linear-gradient($lightBlue, $darkBlue);
                }
                .line{
                    background-color: $lightBlue;
                }
            }
        }
    }
}

@include mediaQ($mediumScreen){
    .About{
        padding: 0px 20px;
        box-sizing: border-box;
        .with-photo{
            grid-template-columns: 100%;
            grid-template-rows: auto auto;
            img{
                width: 50%;
            }
            div:nth-child(1){
                display: flex;
                justify-content: center;
            }
        }
    }
    h1,h2{
        text-align: center;
    }
}

@include mediaQ($smallScreen){
    .About{
        .timeline{
            .timelineitem{
                height: 150px;
                .bar{
                    .circle{
                        width: 32px;
                        height: 32px;
                        left: -11px;
                        top: calc(50% - 16px);
                    }
                    .line{
                        height: 150px;
                    }
                }
                h3{
                    font-size: 21px;
                }
                h4{
                    font-size: 18px;
                }
            }
        }
    }
}