@import "../setup";

.Main{
    margin-top: 10vh;
    h1{
        font-family: $croboto;
        font-size: 30px;
        font-weight: 400;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    h2{
        @extend h1;
        font-family: $bebas;
        font-size: 36px;
    }
    p{
        text-align: left;
    }
    span{
        font-family: $mono;
        font-size: 24px;
    }
    .container{
        width: 100%;
        margin: auto;
        max-width: 1000px;
        display: flex;
        justify-content: space-around;
        .presentation{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 50vh;
            p{
                margin: 0px;
                max-width: 350px;
            }
            .cursor{
                animation-name: parpadeo;
                animation-duration: 1s;
                animation-iteration-count: infinite;
            }
            @keyframes parpadeo {
                0%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                }
            }
        }
    }
    .Slider{
        width: 50%;
        height: 50vh;
    }
    button{
        max-width: 320px;
        width: 70%;
        height: 50px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $roboto;
        color: white;
        font-size: 24px;
        margin: 5vh auto;
        cursor: pointer;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        position: relative;
        padding: 10px;
        box-sizing: border-box;
        .btn-logo{
            position: absolute;
            left: -30px;
            opacity: 0;
            transition: .4s ease-in-out all;
        }
        .btn-text{
            position: absolute;
            width: 110px;
            transition: .4s ease-in-out all;
            left: calc(50% - 55px);
            // transform: translate(-50%);
        }
        &:hover{
            .btn-logo{
                left: calc(100% - 40px);
                opacity: 1;
            }
            .btn-text{
                left: 10%;
                transform: translate(0%);
            }
        }

    }
}

@include mediaQ($smallScreen){
    .Main{
        margin-top: 2vh;
        .container{
            flex-direction: column;
            align-items: center;
            .presentation{
                height: 25vh;
                h1, h2, p{
                    font-size: 25px;
                }
                p{
                    text-align: center;
                    span{
                        font-size: 20px;
                    }
                }
            }
        }
        .Slider{
            width: 100%;
            height: 40vh;
        }
    }
}

.dark{
    h1, h2{
        color: white;
    }
    span{
        color: $lightGreen;
    }
    button{
        background-image: linear-gradient($lightGreen, $darkGreen);
    }
}

.light{
    h1, h2{
        color: black;
    }
    span{
        color: $lightBlue;
    }
    button{
        background-image: linear-gradient($lightBlue, $darkBlue);
    }
}