// Main colors

$lightGreen: #46E352;
$darkGreen: #347C12;
$lightBlue: #33ADB8;
$darkBlue: #00B295;

$bebas: "BebasNeue";
$roboto: "Roboto";
$broboto: "RobotoBold";
$croboto: "RobotoCondensed";
$mono: "SpaceMono";

$hdScreen: 1280px;
$mediumScreen: 900px;
$tabletScreen: 720px;
$smallScreen: 500px;
$smartphoneScreen: 300px;

@mixin mediaQ($maxWidth){
	@media only screen and (max-width: $maxWidth) {
		@content;
	}
}