@import "setup";

.maintenance{
    width: 80%;
    margin: auto; 
    display: flex;
}

.alertM {
    font-family: "BebasNeue"; 
    font-size: 94px;
    text-align: center;
}

@include mediaQ($mediumScreen){
    .maintenance{
        flex-direction: column;
    }
    .alertM {
        font-size: 40px;
    }
}

.dark{
    .maintenance{
        color: black;
    }
}

.light{
    .maintenance{
        color: white;
    }
}