@import "_variables";

@font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "RobotoBold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "RobotoCondensed";
    src: url(../fonts/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: "SpaceMono";
    src: url(../fonts/SpaceMono-Regular.ttf);
}