@import '../setup.scss';

.header{
    height: 65px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-areas: "nav logo social";
    align-items: center;
    justify-items: center;
    nav{
        width: 100%;
    }
    .link{
        font-family: $roboto;
        text-decoration: none;
        margin: 0 2%;
        &:hover{
            opacity: 0.7;
        }
    }
    .dropdown{
        position: relative;
        display: inline-flex;
        justify-content: center;
        margin: 0 2%;
        text-align: center;
        height: 25px;
    }
    .dropdown-content{
        width: 150px;
        font-family: $roboto;
        position: absolute;
        display: none;
        height: auto;
        background-color: #00000090;
        backdrop-filter: blur(6px);
        color: white;
        padding: 10px;
        box-sizing: border-box;
        transition: ease-in 5s;
        text-align: center;
        padding-top: 20px;
        margin-top: 25px;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
}

.Social{
    display: flex;
    justify-content: space-between;
    width: 96px;
    img{
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }
}

.rightHeader{
    display: flex;
    align-items: center;
    justify-self: end;
    .lang{
        select{
            width: 50px;
            height: 25px;
            margin-right: 30px;
            border-radius: 10px;
            background-color: #80808020;
            font-size: 14px;
            font-family: $roboto;
        }
    }
}

.lang.dark{
    select{
        border: 1px solid $lightGreen;
        color: white;
        option{
            color: black;
        }
    }
}

.lang.light{
    select{
        border: 1px solid $lightBlue;
        color: black;
        option{
            color: black;
        }
    }
}

nav.light{
    .link{
        color: black;
    }
    .link.active{
        color: $lightBlue;
    }
}

nav.dark{
    .link{
        color: white;
    }
    .link.active{
        color: $lightGreen;
    }
}